.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.task {
  display: flex;
  justify-content: center;
}

.task-completed {
  text-decoration: line-through;
}
